.receipt {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 70%; 
    height: auto;  
    background-color: #fff; 
    padding: 30px 20px; 
    margin: 10px auto; 
}

.receipt-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px; 
}

.receipt-items {
    display: flex;
    justify-content: space-between; 
}

h2 {
    padding: 10px;
}
span {
    padding: 5px;
}

hr {
    border: none;
    border-top: 2px solid #ccc; 
    margin: 20px 0; 
    width: 30%; 
}